.new-tweet {
  display: flex;
  /* flex-direction: column; */
  /* border-style: solid; */
  justify-content: left;
  /* text-align: center; */
  
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  /* border-top: 5px solid black;
  border-spacing: 20px; */
  /* top | right | bottom | left */
  /* margin: 1.5em 0em 1.5em 0em; */
  /* padding-top: 1.5em; */
}

hr {
  border-color: black;
  border-width: 2px;
  /* padding: 5px */
}

#tweet-text {
  resize: none;
  height: 30px;
  width: 800px;
  background-color: #f4f1ec;
  border-style: none; 
  border-color: Transparent; 
  overflow: hidden;   
  /* margin: 1.5em 0em 1.5em 0em */
  /* padding-bottom : 1.5em; */
}

button {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.counter {
  align-self: flex-end;
  font-weight: bold;
  /* padding-top: 1.5em */

}