.new-tweet {
  display: flex;
  margin-top: 4em;
}

 .new-tweet div {
  display: flex;
  justify-content: space-between;
} 

hr {
  border-color: black;
  border-width: 2px;
}

textarea {
  resize: none;
  height: 30px;  
  width: 50vw;
  background-color: #f4f1ec;
  border-style: none; 
  border-color: Transparent; 
  overflow: hidden;   
}

button {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.counter {
  align-self: flex-end;
  font-weight: bold;
}

